:root {
    --notification-base: {
        width: 100%;
        height: 5em;
        position: absolute;
        top: -5em;
    };

}
.warning-notification {
    @apply --notification-base;
    background-color: var(--red);
}

.success-notification {
    @apply --notification-base;
    background-color: var(--green);
}

.info-notification {
    @apply --notification-base;
    background-color: var(--blue);
}