
/*noinspection CssInvalidAtRule*/
@custom-selector :--button #record-checkbox + label > div > div;

/*noinspection CssInvalidAtRule*/
@custom-selector :--button-frame #record-checkbox + label > div;

:root {
    --recorder-btn-square: {
        border-radius: 5%;
        height: 30px;
        width: 30px;
        margin: 10px 10px;
    }
}

#record-checkbox {
    /*display:none;*/
}

/*noinspection CssInvalidPseudoSelector*/
:--button-frame {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 5px solid white;
}

/*noinspection CssInvalidPseudoSelector*/
:--button {
    @apply --recorder-btn-square;
    background: red;

    /*animation-name: toggle-pause-play;*/
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
/*noinspection CssInvalidPseudoSelector*/
#record-checkbox:checked + label > div > div  {
    animation-name: toggle-pause-play;
}


@keyframes toggle-pause-play {
    0% {
        @apply --recorder-btn-square;
    }

    100% {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin: 7px;
    }
}