:--main {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

:--main-item { margin-top: 4em; }


:--main-item:nth-child(3) {
    grid-row: 3;
    grid-column:  1 / span 2;
    justify-self: center;
}

@media (--smallest-viewport) {
    :--main { grid-template-columns: repeat(1, 100%); }

    :--main-item { margin-top: 0 }

    :--main-item:nth-child(3) {
        grid-column: 1;
        justify-self: center;
        margin-top: 4em;
    }
}